[Unit]
Description=Auto Sync Excel Node.js app
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/auto-sync-excel/current
Environment=NODE_ENV=production
Environment=PORT=3000
ExecStart=/usr/bin/node src/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
